article.card {
    position: relative;
    width: 600px;
    height: 230px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    padding: 0px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    animation: animation .5s ease-in-out;
}
@keyframes animation {
    0%    {opacity: 0}
    100%  {opacity: 1}
}
.cardContent {
    padding: 0.75rem;
    color: rgb(255, 255, 255);
}
.cardHeader {
    margin-bottom: 20px;
}
.cardHeader h2 { 
    width: 315px;
    font-size: 1.5rem;
    margin: 0px;
    padding: 0px;
    font-weight: 800;
    line-height: 1.1;
}
.cardHeader h2 a {
    color: rgb(245, 245, 245);
    text-decoration: none;
}
.cardHeader a:hover {
    color: rgb(255, 152, 0);
    text-decoration: none;
}
.cardHeader span.details {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: capitalize;
}
.greenIcon, .redIcon, .greyIcon {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    border-radius: 50%;
}
.greenIcon {
    background: rgb(85, 204, 68);
}
.redIcon {
    background: rgb(214, 61, 46);
}
.greyIcon {
    background: rgb(158, 158, 158);
}
article.card img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
input[type=checkbox] { 
    appearance: none;  
}
.iconPosition {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.checkedIcon {
    width: 24px;
    height: 24px;
    background: url("../../public/favouriteFull.svg");
    transition: 0.3s ease-in-out;
}
.uncheckedIcon {
    width: 24px;
    height: 24px;
    background: url("../../public/favourite.svg");
    transition: 0.3s ease-in-out;
}
.removeIcon {
    width: 20px;
    height: 20px;
    background: url("../../public/x-mark.svg");
    transition: 0.3s ease-in-out;
}
@media(max-width: 1271px) {
    article.card {
        height: 260px;
    }
}
@media (max-width: 650px) {
    article.card {
        width: 100%;
        height: auto;
        margin: 0 auto 20px auto;
        flex-direction: column;
    }
    article.card img {
        object-fit: cover;
        max-width: 100%;
        height: 270px;
    }
    .iconPosition {
        top: 10px;
        right: 10px;
    }
}