article.card {
    width: 600px;
    height: 220px;
    max-width: 100%;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    padding: 0px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    display: flex;
    flex-direction: row;
}
.cardContent {
    position: relative;
    padding: 0.75rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardContent h2 { 
    font-size: 1.5rem;
    margin: 0px;
    padding: 0px;
    font-weight: 800;
    line-height: 1.1;
}
.cardContent a {
    color: rgb(245, 245, 245);
    text-decoration: none;
}
.cardContent a:hover {
    color: rgb(255, 152, 0);
    text-decoration: none;
}
.cardContent span.details {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: capitalize;
}
.greenIcon, .redIcon, .greyIcon {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    border-radius: 50%;
}
.greenIcon {
    background: rgb(85, 204, 68);
}
.redIcon {
    background: rgb(214, 61, 46);
}
.greyIcon {
    background: rgb(158, 158, 158);
}
.cardSection {
    display: flex;
    flex-direction: column;
}
.cardSection span {
    font-size: 16px;
    font-weight: 500;
    color: rgb(158, 158, 158);
}
@media (max-width: 500px) {
    article.card {
        width: 100%;
        height: 450px;
        margin: 0 auto 20px auto;
        flex-direction: column;
    }
    article.card img {
        object-fit: cover;
        max-width: 100%;
        height: 270px;
    }
}