.characterViewContainer {
    width: 100%;
    min-height: 100vh;
    background: rgb(36, 40, 47);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 10px;
}
.characterViewWrapper {
    position: relative;
    width: 800px;
    max-width: 100%;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    animation: animation 0.5s ease-in-out;
}
@keyframes animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
.characterViewWrapper:after {
    content: "";
    position: absolute;
    bottom: 10px;
    background: #fff;
    height: 5px;
    width: 300px;
    border-radius: 4px;
}
.name {
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    color: rgb(245, 245, 245);
    margin: 0px;
    margin-bottom: 20px;
}
.name span {
    color: rgb(245, 245, 245);
    background: rgb(214, 129, 1);
    border-radius: 4px;
    padding: 0px 5px;
}
.detailsWrapper {
    display: flex;
    flex-direction: row;
}
.characterDetails {
    font-size: 16px;
    line-height: 24px;
    color: rgb(245, 245, 245);
    padding: 0px 15px;
    margin-bottom: 20px;
}
.avatar {
    margin-top: 20px;
}
.avatar img {
    background: rgb(214, 129, 1);
    border-radius: 100%;
    padding: 10px;
    width: 400px;
    max-width: 100%;
    height: auto;
}
.characterViewContainer button {
    font-size: 20px;
    font-weight: 300;
    color: rgb(245, 245, 245);
    margin-top: 20px;
    background: transparent;
    border: 0px;
    transition: 0.5s all;
}
.characterViewContainer button:hover {
    color: rgb(255, 152, 0);
}

@media(max-width: 650px) {
    .characterViewContainer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .name {
        font-size: 26px;
        line-height: inherit;
    }
    .detailsWrapper {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .characterDetails {
        padding: 0px;
        margin-bottom: 5px;
    }
    .avatar img {
        width: 300px;
    }
}