.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-bottom: 100px;
}
@media (min-width: 500px) {
    .row {
        width: 600px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
}
@media (min-width: 1272px) {
    .row {
        width: 1248px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
}
@media (min-width: 1896px) {
    .row {
        width: 1872px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
}