.formContainer {
    width: 100%;
    height: auto;
    background: rgb(18, 18, 24);
    position: fixed;
    z-index: 9;
}
.form {
    width: 1248px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 10px;
    color: rgb(245, 245, 245);
    transition: 0.2s ease-in;
}
.formGroup {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
}
.searchInput {
    margin-right: 10px;
}
.advancedFilterBtn {
    width: 260px;
    margin-right: 10px;
    box-shadow: none!important;
}
.dropDown {
    width: 260px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background: rgb(36, 40, 47);
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    z-index: 99;
}
@media(max-width: 750px) {
    .formContainer {
        position: initial;
    }
    .advancedFilter {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
    }
    .advancedFilterBtn {
        width: 100%;
    }
    .heightClosedMobile .form {
        min-height: 130px;
    }
    .heightOpenMobile .form{
        min-height: 320px;
    }
    .dropDown {
        width: 100%;
        justify-content: space-around;
        animation: animation 0.6s ease-in-out;
    }
    @keyframes animation {
        0%    {opacity: 0}
        100%  {opacity: 1}
    }
    .advancedFilterBtn {
        margin-right: 0px;
    }
}