.container {
    width: 100%;
    height: 100%;
    background: rgb(36, 40, 47);
}
.contentWrapper {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 150px 10px 100px 10px;
}
@media(max-width: 750px) {
    .contentWrapper {
        padding-top: 35px;
    }
}