.container {
    width: 100%;
    height: 100%;
    background: rgb(36, 40, 47);
    position: relative;
}
.contentWrapper {
    width: 100%;
    min-height: 100vh;
    padding: 150px 10px 100px 10px;
    position: relative;
}
.contentWrapper p.error, .contentWrapper p.loading {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media(max-width: 750px) {
    .contentWrapper {
        padding-top: 35px;
    }
}